beautifulsoup4==4.8.0
lxml==4.4.2
opencv-python==3.4.8.29
numpy==1.17.4
requests==2.25.1
scipy==1.6.1
git+https://github.com/andrewhead/texcompile@a02b282#texcompile

# Development dependencies
black==19.10b0
mypy==0.782
mypy-extensions==0.4.3
pylint==2.4.4
pytest==5.3.1
